main {
    .our-team-member-1-container {
      .our-team-member-1 {
        .h2-div-for-our-team-member-1 {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-left: 2px solid #219ebc;
          padding-left: 7px;
          height: 16px;
          .span-for-h2-div-for-our-team-member-1 {
            position: absolute;
            min-height: 2px;
            min-width: 40%;
            background-color: #219ebc;
            left: -40%;
            
          }
        }
      }
    }
  }
  