.our-projects-2-cards-container {
  .card-div-of-our-projects-2-cards-container {
    .curve-line-div-for-card-div-of-our-projects-2-cards-container {
      bottom: -25px;
      right: -25px;

    }
    .p-of-card-div-of-our-projects-2-cards-container {
      position: relative;
      &::after {
        transition: width 500ms ease-in-out;
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 2px;
        background: #fb8500;
      }
    }

    &:hover {
      .p-of-card-div-of-our-projects-2-cards-container {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
